html,
body {
  height: 100%;
  width: 100%;
}
.App {
  height: 100%;
  text-align: center;
  background-image: linear-gradient(270deg, #082e4f, #08243e);
  font-family: "Roboto", sans-serif;
  user-select: none;
}
